<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connectly - Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/connectly.png') }}">
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>

</head>
<body>

    <header>
        <img alt="logo" src="{{ url_for('static', filename='/assets/connectly.png') }}" style="width: 150px; height: 150px;"> 
        <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1>Connectly</h1></a>
        <nav>
            <ul>
                <li><a class="nav-el" href="{{ url_for('chat') }}">Chat</a></li>
                <li><a class="nav-el" href="{{ url_for('friends') }}">Friends</a></li>
                <li><a class="nav-el" href="{{ url_for('profile') }}">Profile</a></li>
                <li><a class="nav-el" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="nav-el" href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
    </header>

    <section class="profile">
        <div class="entry">
            <img alt="pfp" src="{{ url_for('static', filename='assets/pfp.png') }}">
            <h2>{{ user.username }}</h2>
        </div>
        <div class="entry">
            <p><strong>Username:</strong> <span id="username">{{ user.username }}</span></p>
            {% if session["username"] == user.username %}
                <button class="hidden" onclick="editField('username')">
                    <img alt="edit" src="{{ url_for('static', filename='assets/edit.png') }}" style="width: 20px; height: 20px;">
                </button>

                <div id="loading-spinner" class="spinner" style="display: none;"></div>

            {% endif %}
        </div>
        <div class="entry">
            <p><strong>Joined on:</strong> {{ user.joined }}</p>
        </div>
        <div class="entry">
            <p><strong>Bio:</strong> <span id="bio">{{ user.bio if user.bio else 'No bio yet' | replace('\n', '<br>') | safe}}</span></p>

            {% if session["username"] == user.username %}
                <button class="hidden" onclick="editField('bio')">
                    <img alt="edit" src="{{ url_for('static', filename='assets/edit.png') }}" style="width: 20px; height: 20px;">
                </button>

                <div id="loading-spinner" class="spinner" style="display: none;"></div>
            {% endif %}
        </div>
        <div id="edit-controls" style="display: none;">
            <button id="save-btn" onclick="saveField()">Save</button>
        </div>        

    </section>
    <footer>
        <p>&copy; 2025 Connectly. All rights reserved.</p>
    </footer>

</body>
</html>
